body { padding-top: 150px; }

.title {
	font-family: 'Indie Flower', cursive;
    color: #FCA205;    
}

.button-div{
	margin: 0 auto;
	height: 69px;

}

.btn-top{
	left: 50px;
	position: absolute;
	top: 12px;
}

.title-top{
	text-align: middle;
}

img{
	width: 150px;
	height: 150px;
}

