<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery-1.12.0.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<div class="col-xs-10 title-top">
  				<p><h1 class="title">ImageUp</h1></p>
  			</div>
  			<div class="col-xs-2 button-div">
  				<!-- <button type="button" class="btn btn-info btn-lg btn-top" data-toggle="modal" data-target="#myModal">Upload</button> -->
  			</div>
  		</div>
	</nav>

	<div class="container">
		<div class="row">
			<form method="POST" action=".">
			{% csrf_token %}
				{{form}}	
				<input type="submit" value="Save" class="btn btn-primary">
			</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					{% for image in context %}
					<div class="col-xs-2">
						<p><h4>{{image.title}}</h4></p>
						<p><img src="{{image.image}}" alt="{{image.title}}" class="img-responsive img-thumbnail"></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
      <form class="upload" method="POST" action="." >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Upload image</h4>
	        </div>
	        <div class="modal-body">
	        		<div class="form-group f1">
	        			<div class="row">
	        				<div class="col-xs-4">
	        					<p><label>Title:</label></p>
	        					<p><input type="text" name="id_title" id="id_title"></p>	
	        				</div>
	        				<div class="col-xs-4">
	        					<p><label></label></p>
	        					<p><input type="file" name="id_image" id="id_image"></p>
	        				</div>
	        			</div>
	        		</div>     		
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          <button type="button" class="btn btn-success" onclick="send_image()">Save</button>
	        </div>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
};
function send_image(){
	$.ajax({
		beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    	},
		url: 'upload_image/',
		type: 'POST',
		data: { title: $('#id_title').val(),
				image: $('#id_image').val(),
				csrfmiddlewaretoken: '{{ csrf_token }}'
		},
	});
}	
$(document).ready(function(){
	$('#myModal').on('shown.bs.modal', function () {
  		$('#myInput').focus()
	});
});
</script>
</html>

